h1{
    font-size: 30px;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    color: crimson;
    background-color: burlywood;
}
ul{
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    background-color: cornsilk;
}
li{
    margin: 10px;
    font-size: 15px;
}
div{
    padding: 15px;
    margin: 15px;
    background-color: cornflowerblue;
}
footer{
    margin: 25px;
}